@import "../../styles/variables";
@import "../../styles/media_breakpoints";

@include tablet {
  .active {
    .arrow {
      &::after {
        transform: rotateX(180deg);
      }
    }

    ul {
      max-height: 100% !important;
    }
  }

  .arrow {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      background: url("../../public/icons/angle-right-1.svg") 0 0/16px no-repeat;
      transition: $transition;
    }
  }
}